/*
 * Стили сетки
 * Основного контейнера и его компонентов
*/

.layout-container {
    max-width: 1440px;
    margin: 1rem auto;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 2px #1d1d1d;
}

@media screen and (max-width: 1485px) {
    .layout-container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 900px) {
    .layout-container {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1280px) {
    .layout-container {
        max-width: 900px;
    }
}

.layout-header {
    height: 850px;
}

@media screen and (max-width: 900px) {
    .layout-header {
        height: auto;
    }
}

.layout-about-us {
    height: 650px;
    padding: 120px 120px 40px;
}

@media screen and (max-width: 1280px) {
    .layout-about-us {
        height: auto;
        padding: 0;
    }
}

.layout-big-image-top {
    height: 2000px;
}

@media screen and (max-width: 1280px) {
    .layout-big-image-top {
        height: auto;
    }
}

.layout-gallery {
    height: 1330px;
}

@media screen and (max-width: 1485px) {
    .layout-gallery  {
        height: auto;
        padding-bottom: 30px;
    }
}

.layout-big-image-bottom {
    height: 960px;
}

@media screen and (max-width: 725px) {
    .layout-big-image-bottom {
        height: auto;
    }
}

.layout-menu {
    height: 1080px;
}

@media screen and (max-width: 1485px) {
    .layout-menu  {
        height: auto;
    }
}

.layout-footer {
    height: 940px;
}

@media screen and (max-width: 1280px) {
    .layout-footer {
        height: auto;
    }
}
