/*
 * Модуль подвала сайта
*/

.footer {
    color: white;
}

.footer-top {
    height: 504px;
    background-color: #c28a35;
}

@media screen and (max-width: 1280px) {
    .footer-top {
        padding-top: 120px;
    }
}

@media screen and (max-width: 600px) {
    .footer-top {
        position: relative;
        overflow: hidden;
        padding-top: 0;
        height: auto;
    }
}

.footer-top-image {
    transform: translateY(-70px);
    float: left;
}

@media screen and (max-width: 1485px) {
    .footer-top-image {
        opacity: 0.8;
    }
}

@media screen and (max-width: 1280px) {
    .footer-top-image {
        position: absolute;
        height: 100%;
        transform: translateY(-80px);
    }
}

.footer-top-content {
    width: 500px;
    display: inline-block;
    padding-top: 120px;
    padding-left: 60px;
}

@media screen and (max-width: 1280px) {
    .footer-top-content {
        position: relative;
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 40px;
        background-color: gray;
        opacity: 0.9;
    }
}

@media screen and (max-width: 600px) {
    .footer-top-content {
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
    }
}

.footer-top-content-heading {
    font-size: 3.4rem;
}

.footer-top-content-text {
    padding-top: 15px;
    font-size: 2rem;
}

.footer-bottom {
    height: 436px;
    background-color: #1d1d23;
}

@media screen and (max-width: 1280px) {
    .footer-bottom {
        height: auto;
        padding-bottom: 20px;
    }
}

.footer-bottom-heading {
    padding-top: 80px;
    margin-left: -100px;
}

@media screen and (max-width: 1485px) {
    .footer-bottom-heading {
        margin-left: -180px;
    }
}

@media screen and (max-width: 1280px) {
    .footer-bottom-heading {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .footer-bottom-heading {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 350px) {
    .footer-bottom-heading {
        transform: scale(0.7) translateX(-40px);
    }
}

.footer-bottom-menu {
    display: flex;
    justify-content: space-between;
    width: 845px;
    margin: 0 auto;
    padding-top: 50px;
}

@media screen and (max-width: 900px) {
    .footer-bottom-menu {
        flex-direction: column;
        overflow-y: hidden;
        width: 100%;
        height: 450px;
        padding: 0 10px;
        box-sizing: border-box;
        transition: height 2s;
    }

    .footer-menu-mobile-hidden {
        height: 57px;
    }
}

.footer-bottom-menu-link {
    margin-right: 35px;
    outline: none;
    font-size: 1.5rem;
    color: white;
}

@media screen and (max-width: 900px) {
    .footer-bottom-menu-link {
        margin-right: 0;
        padding: 10px 0;
        text-align: center;
        border-bottom: 5px solid #c28a35;
        cursor: pointer;
        transition: box-shadow 300ms;
    }
}

.footer-bottom-menu-link:last-child {
    margin-right: 0;
}

.footer-bottom-menu-link:hover {
    color: #c28a35;
}

.footer-bottom-menu-link:focus {
    box-shadow: 0 5px 0 #c28a35;
}

.footer-bottom-icons {
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0;
}

.footer-bottom-icon {}
