/*
 * Модуль секции большого изображени снизу
*/

.big-image-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/big-image-bottom.jpg");
}

.big-image-bottom-content {
    width: 725px;
    min-height: 575px;
    border: 12px solid #e58f00;
    opacity: 0.8;
    color: white;
    background-color: #1d1d23;
    box-sizing: border-box;
}

@media screen and (max-width: 725px) {
    .big-image-bottom-content {
        height: auto;
        padding-bottom: 30px;
        border: none;
    }
}

.big-image-bottom-content-heading {
    padding-top: 70px;
    font-size: 3rem;
    text-align: center;
}

@media screen and (max-width: 530px) {
    .big-image-bottom-content-heading {
        padding-bottom: 20px;
    }
}

.big-image-bottom-content-text {
    padding: 20px 80px;
    font-size: 2rem;
    text-align: center;
    line-height: 1.25;
}

@media screen and (max-width: 725px) {
    .big-image-bottom-content-text {
        line-height: 1.5;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 530px) {
    .big-image-bottom-content-text {
        padding: 0;
    }
}
