* {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-family: "Segoe UI", serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
}

.header {
    background-color: #2196F3;
}

.navigation {
    display: flex;
}

.list-item {
    list-style: none;
}

.link-item {
    display: block;
    padding: 25px 20px;
    outline: none;

    color: whitesmoke;
    text-decoration: none;
    transition: background-color 120ms;
}

.link-item:hover {
    background-color: #1E88E5;
}

.link-item:focus {
    background-color: #1E88E5;
}

.container {
    display: grid;
    gap: 45px;
    margin: 50px 60px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
}

.card {
    position: relative;
    width: 225px;
    height: 225px;

    border-radius: 5px;
    background-color: ghostwhite;
    transition: transform 120ms, box-shadow 120ms;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
}

.card:hover > .favourite {
    opacity: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favourite {
    width: 35px;
    height: 35px;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    right: 15px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 220ms;
}

.favourite-empty {
    background-image: url("../img/favourite.svg");
}

.favourite-fill {
    background-image: url("../img/favourite-fill.svg");
}
